<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Add category</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" defer></script>
</head>

<body>
	<div th:replace="~{fragments :: navbar}"></div>
	<div class="container my-5 py-5">
		<h1 class="mt-5 mb-4 text-center">Add new Category</h1>
		<form th:action="@{/categories/create}" th:object="${category}" method="post">

			<div class="form-group">
				<label for="name">Name</label> <input type="text" class="form-control mt-2" id="name" name="name"
					placeholder="Insert category name" th:field="*{name}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
					<ul>
						<li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>

			<div>
				<button type="submit" class="btn btn-success mt-3">Save new category</button>
			</div>
			<div class="col-3 mt-5 text-center d-flex">
				<a th:href="@{/categories}" class="btn btn-primary btn-block">Back</a>
			</div>

		</form>
	</div>
</body>

</html>