<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Edit category</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" defer></script>
</head>

<body>
	<div th:replace="~{fragments :: navbar}"></div>
	<div class="container my-5 py-5">
		<h1 class="mt-5 mb-4 text-center">Edit Category</h1>
		<form method="post" th:action="@{/categories/edit/{id}(id=${category.id})}">

			<div class="form-group">
				<label class="pb-2 pt-2" for="name">Name</label> <input type="text" class="form-control" id="name"
					name="name" th:value="${category.name}" />
			</div>

			<div>
				<button type="submit" class="btn btn-success mt-3">Save</button>
				<div class="col-3 mt-5 text-center d-flex">
					<a th:href="@{/categories}" class="btn btn-primary btn-block">Back to categories</a>
				</div>
				<div class="col-3 mt-5 text-center d-flex">
					<a th:href="@{/photos}" class="btn btn-primary btn-block">Back to photos</a>
				</div>
			</div>

		</form>
	</div>
</body>

</html>